Customer requirements:
1. The app shall give buy/sell decisions on daily basis.
2. The app shall have option to make multiple portfolios.
3. The app shall be fast to load.
4. The app shall provide interface to input stocks.
5. The app shall show portfolio history.
6. The app shall allow user to make changes to portfolio date wise.
7. The app shall show portfolio performance using standard portfolio metrics.
8. The app shall provide an interactive dashboard with key portfolio performance metrics.

System Requirements:
1. The system shall prompt and save the following inputs from user:
	i. Stocks bought on a particular date at particular cost.
	ii.Method of portfolio balancing strategy.
2. The system shall store portfolio data in a PostGRES database.
3. The system shall update the portfolio data daily when End Of Day prices are available.
  